.calculatorInter {
    background-color: #efefef;
    display:flex;
    width: 50vw;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    border: solid 3px black;
    border-radius: 40px;
    margin-top: 15px;
}
.calculatorInter button {
    height: 30px;
    width: 300px;
    border-radius: 30px;
    border: solid 1px black;
}
.main {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 80px;
    background-image: linear-gradient(to right, darkblue, blue);
}
.header-buttons{
    display: flex;
    flex-direction: row ;
    align-items: center;
    width: max-content;
    height: 40px;
}
.header-buttons a{
    margin-inline: 5px;
    padding-inline: 20px;
    padding-block: 5px;
    color: white;
    border: solid 3px #d9d9d9;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
}
.logo {
    width:200px;
    max-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    max-height: 50px;
}
.infoBox {
    background-color: #e6e6e6;
    border: solid 1px black;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 15px;
    padding-block: 20px;
    border-radius: 5px;
}
/* --------ELEMENTOS ABSOLUTOS-------- */
h1 {
    margin: 0
}
h3{
    margin: 0
}
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
}
input {
    width:100%;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
}
p {
    margin: 0
}
/* --------FIM DOS ELEMENTOS ABSOLUTOS-------- */


/* --------POSIÇÕES PARA O ELEMENTO-------- */
.pd-baixo {
    padding-bottom: 10px;
}
.pd-cima {
    padding-top:20px;
}
/* --------FIM DAS POSIÇÕES-------- */


/* --------HOVER-------- */
#a:hover{
    background-color: #add8e666;
}
#b:hover{
    background-color: #add8e666;
}
#c:hover{
    background-color: #add8e666;
}
#d:hover{
    background-color: #add8e666;
}
#e:hover{
    background-color: #add8e666;
}
/* --------FIM DO HOVER-------- */